// Place all the styles related to the conference controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
    bottom: 10px;
    text-align: center;
}

footer i {
    color:#ff0000;
}

.hidden {
  display: none;
}
